.root {
    -fx-background-color: #2e2e2e;
    -fx-text-fill: #ffffff;
}

.button {
    -fx-background-color: #424242;
    -fx-text-fill: #ffffff;
    -fx-font-size: 16px;
    -fx-border-radius: 5;
}

.button:hover {
    -fx-background-color: #616161;
}

.button:pressed {
    -fx-background-color: #333333;
}

.text-field {
    -fx-background-color: #616161;
    -fx-text-fill: #ffffff;
    -fx-font-size: 20px;
    -fx-prompt-text-fill: #b0b0b0;
}

.text-area {
    -fx-background-color: #616161;
    -fx-text-fill: #ffffff;
    -fx-font-size: 20px;
    -fx-prompt-text-fill: #b0b0b0;
}

.label, .text-field, .text-area, .button {
    -fx-font-family: "Segoe UI", sans-serif;
}
